<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./templates/header.ejs')%>
        <title>Lista</title>
</head>

<body>
    <%- include('./templates/navigation.ejs') %>
  <h1>Bienvenido</h1>


  <input type="submit" value="Lista_StarWar-Dar_clic" class="btn btn-dark" id="boton" >


        <h1>Lista </h1>

        <table class="table ">
            <thead>
                <tr>
                    <th>name</th>
                    <th>height</th>
                    <th>mass</th>
                    <th>hair_color</th>
                    <th>skin_color</th>
                    <th>eye_color</th>
                    <th>birth_year</th>
                    <th>gender</th>
                    <th>homeworld</th>
                    <th>species</th>
                </tr>
            </thead>
            <tbody id="res">
            </tbody>

        </table>


        //filtrar

        <div id="filter-area">
            <label for="homeworld-filter">Homeworld:</label>
            <select id="homeworld-filter">
                <option value="">All</option>
            </select>
        
            <label for="species-filter">Species:</label>
            <select id="species-filter">
                <option value="">All</option>
            </select>
        </div>
        



        <script>
            document.querySelector('#boton').addEventListener('click', function() {
                fetch('/data.json')
                .then(response => response.json())
                .then(data => {




                    let homeworldFilter = document.getElementById('homeworld-filter');
                    let speciesFilter = document.getElementById('species-filter');
                   // const res = document.querySelector('#res');


                    // Población de los selectores de filtro
                    let homeworlds = [...new Set(data.map(item => item.homeworld))];
                    let species = [...new Set(data.map(item => item.species))];


                    homeworlds.forEach(homeworld => {
                        const option = document.createElement('option');
                        option.value = homeworld;
                        option.textContent = homeworld;
                        homeworldFilter.appendChild(option);
                    });

                    species.forEach(species => {
                        const option = document.createElement('option');
                        option.value = species;
                        option.textContent = species;
                        speciesFilter.appendChild(option);
                    });

                    function filterData() {
                        const selectedHomeworld = homeworldFilter.value;
                        const selectedSpecies = speciesFilter.value;

                        const filteredData = data.filter(item => {
                            return (selectedHomeworld === "" || item.homeworld === selectedHomeworld) &&
                                (selectedSpecies === "" || item.species === selectedSpecies);
                        });


                    displayData(filteredData);
                    }

                    function displayData(dataToDisplay) {



                    let res = document.querySelector('#res');
                    res.innerHTML = '';
                    data.forEach(item => {
                        res.innerHTML += `
                            <tr>
                                <td>${item.name}</td>
                                <td>${item.height}</td>
                                <td>${item.mass}</td>
                                <td>${item.hair_color}</td>
                                <td>${item.skin_color}</td>
                                <td>${item.eye_color}</td>
                                <td>${item.birth_year}</td>
                                <td>${item.gender}</td>
                                <td>${item.homeworld}</td>
                                <td>${item.species}</td>
                            </tr>
                        `;
                    });
                }

                    homeworldFilter.addEventListener('change', filterData);
                    speciesFilter.addEventListener('change', filterData);

                    // Inicializar la vista con todos los personajes
                    displayData(data);



                })
                .catch(error => {
                    console.error('Error al obtener los datos:', error);
                });
            });
            </script>



              






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<%-include('./templates/footer.ejs')%>


</body>

</html>

